.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

.hello{
  display: flex;
  align-items: center;
  gap: 10px;
}

.hello p{
  font-family: "isidora_sans_alt_boldbold";
  font-size: 1rem;
}

.logo{
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  transition: all ease-in-out .3s;
}

.image{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: hidden;
}

.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu{
  position: absolute;
  top: 10px;
  right: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px 20px;
  font-size: .9rem;
  font-family: "trinidad_neue_mediumregular";
  color: black;
  background: rgb(248, 248, 248);
  border-radius: 7px;
  transition: all ease .3s;
  z-index: 1000;
}

.menu a:hover{
  color: rgb(0, 120, 80);
  transition: all ease-in-out .1s;
  cursor: pointer;
}


.modal{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  transition: all .3s ease;
}

.modalcontent{
  width: 330px;
  background: white;
  border-radius: 15px;
}

.modalcontent form{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.modalcontent h1{
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 20px;
}

.btns{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.submit{
  background: black !important;
  color: white;
}

.cancel:hover{
  color: rgba(0, 55, 207, 0.8);
  cursor: pointer;
}

.error{
  font-size: .8rem;
  color: rgb(255, 35, 11);
}



@media screen and (max-width: 600px){
  .modalcontent{
    width: 90%;
  }
  
}